/*=============== *** CSS RESET *** =================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: xx-large;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*========================= *** MEDIA QUERIES *** =========================*/

@media (max-width: 380px) {
	#banner-text h1 {
		font-size: 60%;
	}
	.section-header {
		font-size: 60%;
	}
	#logo-container img {
		width: 60%;
	}
	.tagline {
		padding: 5px;
	}
	a .button {
		font-size: 40%;
	}
	p {
		font-size: 40%
	}

}

@media (min-width: 380px) and (max-width: 450px) {
	#banner-text h1 {
		font-size: 80%;
	}
	.section-header {
		font-size: 80%;
	}
	#logo-container img {
		width: 60%;
	}
	.tagline {
		padding: 10px;
	}	
	a .button {
		font-size: 40%;
	}
	p {
		font-size: 60%
	}
}

@media (min-width: 450px) and (max-width: 650px) {
	#banner-text h1 {
		font-size: 100%;
	}
	.section-header {
		font-size: 100%;
	}
	#logo-container img {
		width: 300px;
	}
	.tagline {
		padding: 15px;
	}
	a .button {
		font-size: 50%;
	}
	p {
		font-size: 70%
	}
}
@media (min-width: 650px) {
	#banner-text h1 {
		font-size: 120%;
	}
	.section-header {
		font-size: 120%;
	}
	#logo-container img {
		width: 350px;
	}
	.tagline {
		padding: 20px;
	}
	a .button {
		font-size: 70%;
	}
	p {
		font-size: 80%
	}
}

/*=================================================*/

h1, h2, h3, h4, h5 {
	font-family: 'Oswald', 'Arial', sans-serif;
	font-weight: 500;
	text-align: center;
	color:white;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: larger;
}
p {
	padding:10px;
	line-height: 200%;
}
body {
	text-align: center;
	font-family: 'Open-Sans', sans-serif;
	font-size: xx-large;
	background:url(../assets/images/cybertorium2.jpg) no-repeat center center fixed;  
	background-color: #CCFFFF; 
	-webkit-background-size: cover;  
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}
section {
	margin-top:30px;
	
	display: block;
}
a {

} a:hover {
	color:white;
}
section h3 {
	font-weight: 600;
	text-align: left;
	margin-bottom: 10px;


}

/*======================= CUSTOM ===========================*/

/*++++++++ COLORS +++++++*/
.yellow {
	color:#e2cb59;
}
.white {
	color:white;
}
.darkBlue {
	color:#2A202F;
}
.lightBlue {
	color:#0099FF;
}
.lightestBlue {
	color:#CCFFFF
}

/*++++++++ ELEMENTS +++++++*/

.button {
	background: none;
	border: 2px solid white;
	padding:10px 10px;
	letter-spacing: 2px;
	transition: ease-out .5s;
	font-size:medium;
	margin: 5px 0;
	color:white;
	font-weight: 200;

} .button:hover {
	border: 2px solid #e2cb59;
	transition: ease-out .1s;
	text-align:center;
	text-decoration: none;
}
.divider {
	height:2px; 
	width:100%; 
	background:#2A202F;
	margin-right: auto;
	margin-left: auto;
}


/*++++++++++++ CUSTOM HEADER ELEMENTS +++++++++++++*/

/*========= HEADER ==========*/

#header {
	padding:0;
}
#logo-container {
	width:100%;
	z-index: 500;

}
#logo-container img {
	text-align: center;	
	height:auto;
	z-index: 500;
}
#banner {
	margin-top: -20px;
	background: #2A202F;
	width:100%;
	z-index: 0;
}
#banner-text h1 {
	margin-right: auto;
	margin-left: auto;

}
#banner-text .divider {
	background-color: white
}
#date {
	margin:0; 
	letter-spacing:20px;
	font-size: larger;
}


/*========= ABOUT ==========*/

#about {
	background-color: white;

}
#about p {
	text-align: left;
}
#about div img {
	
}
#about-icon-container {
	margin: 0;
	background:url('../assets/images/circuitbackground.png') no-repeat center center;  
	background-color: #CCFFFF; 
	-webkit-background-size: cover;  
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}
.about-icon img {
	padding:20px;
	width:200px;
}
.about-icon h2 {
	color:#2A202F;
}

/*========= CONTACT ==========*/

#contact {
	background-color: #0099FF;
} 

#contact-icon-container {
	margin-right: auto;
	margin-left: auto;
}
.social-media-icon {
	width:80px;
	margin: 20px 10px;
	transition: ease-out .3s;
}
#contact div p a:hover {
	color:black;
}

/*========= FOOTER ==========*/

#footer {
	font-size: medium;
	background-color:#2A202F;
	text-align: right;
	padding:10px;
	width: 100%;
	margin-top:0;
}
#footer p {
	font-size: medium;
	font-weight: 200;
}

/*================= SPONSORS ==================*/


#sponsors {
	background-color:white;
}
.sponsor img {
	max-width: 80%;
	height:auto;
}

/*====================  MISCELLANEOUS ====================*/
.spacer {
	height:70px;
}
.container {
	padding-top:40px;
	padding-bottom: 40px;
}
.img-circle {
	border-radius:50%;
	max-width:80%;
	height:auto;
	margin:20px;
}

